<table style="width=1550px">
	<tr>
		<td style="width: 775px;" valign="top" align="center">
			<table>
				<tr>
					<th valign="top" align="center">
						<div>Air Temperature</div>
					</th>
				</tr>
				<tr>
					<td valign="top" align="center">
						<div id="temp_chart" style="width: 700px; height: 200px;"></div>    
					</td>
				</tr>
			</table>
		</td>
		<td style="width: 775px;" valign="top" align="center">
			<table>
				<tr>
					<th valign="top" align="center">
						<div>Wind Magnitude</div>
					</th>
				</tr>
				<tr>
					<td valign="top" align="center">
						<div id="wind_mag" style="width: 700px; height: 200px;"></div>  
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>