<td style="width: 67%" valign="top">
  <div id="earth" style="border: 1px solid #000; height: 500px;"></div>
  <div id="status"></div>
  <div id="extra-ui"> 
    <input type="button" onclick="playTour()" value="Play Tour"/> 
    <input type="button" onclick="pauseTour()" value="Pause Tour"/> 
    <input type="button" onclick="resetTour()" value="Stop/Reset Tour"/> 
    <div id="slider-container"></div>
  </div>
</td>