<td style="width: 300px" valign="top">
	<table height="80" border="1px" id="profile" style="width: 300px;">
		<tr>
			<th height="23" colspan="2" valign="top">
				<p>Profile</p>
			</th>
		</tr>
		<tr>
			<td height="27" valign="top" style="width: 50%">
				<div id="location">Location:</div>
			</td>
			<td id="location_value"></td>
		</tr>
		<tr>
			<td height="22" valign="top" style="width: 50%">
				<div id="time">Time:</div>
			</td>
			<td id="time_value"></td>
		</tr>
	</table>
	
	<table id="current_flight_status" style="width: 300px; height: 100px" border="1px">
		<tr>
			<th valign="top" colspan="2">
				<p>Current Flight Status</p>
			</th>
		</tr>
		<tr>
			<td style="width: 50%" valign="top">
				<div id="ground _speed">Ground Speed:</div>
			</td>
			<td id="ground_speed_value"></td>
		</tr>
		<tr>
			<td style="width: 50%" valign="top">
				<div id="air_speed">Air Speed:</div>
			</td>
			<td id=air_speed_value"></td>
		</tr>
		<tr>
			<td style="width: 50%" valign="top">
				<div id="heading">Heading:</div>
			</td>
			<td id"heading_value"></td>
		</tr>
	</table>
	
	<table id="fuel_burn_status" style="width: 300px; height: 100px" border="1px">
		<tr>
			<th valign="top" colspan="2">
				<p>Fuel Burn Status</p>
			</th>
		</tr>
		<tr>
			<td style="width: 50%" valign="top" align="center" colspan="2">
				<div id="gauge" style="width: 150px; height: 150px;"></div>	
			</td>
		</tr>
		<tr>
			<td>
				<div id="fuel_rate">Rate:</div>
			</td>
          <td id="fuel_rate_value"></td>
		</tr>
		<tr>
			<td>
				<div id="fuel_total">Total:</div>
			</td>
          <td id="fuel_total_value"></td>
		</tr>
		<tr>
			<td>
				<div id="fuel_weight">Weight:</div>
			</td>
          <td id="fuel_weight_value"></td>
		</tr>
	</table>
	
	<table id="air_temp" style="width: 300px; height: 100px" border="1px">
		<tr>
			<th valign="top">
				<p>Air Temperature</p>
			</th>
		</tr>
		<tr>
			<td style="width: 50%" valign="top" align="center">
				<div id="temp_chart" style="width: 275px; height: 200px;"></div>	
			</td>
		</tr>
	</table>
	
	<table id="wind_magnitude" style="width: 300px; height: 100px" border="1px">
		<tr>
			<th valign="top">
				<p>Wind Magnitude</p>
			</th>
		</tr>
		<tr>
			<td style="width: 50%" valign="top" align="center">
				<div id="wind_mag" style="width: 275px; height: 200px;"></div>	
			</td>
		</tr>
	</table>
	
</td>