<body onload="init()" onunload="GUnload()">
<h1>Google Earth Flight Status Visualizer</h1>
<table style="width: 100%; height: 400px;">
<tr>
  <td style="100%" valign="top">
<table style="width: 100%; height: 400px;">
<tr>
  <td style="width: 300px" valign="top">
	<table height="80" border="1px" id="profile" style="width: 300px;">
		<tr>
			<th height="23" colspan="4" valign="top">
				<p>Profile</p>
			</th>
		</tr>
		<tr>
			<td height="27" valign="top" style="width: 50%">
				<div id="location">Location:</div>
			</td>
			<td>
			  <td>
		      <td></td>
		</tr>
		<tr>
			<td height="22" valign="top" style="width: 50%">
				<div id="time">Time:</div>
			</td>
			<td>
			  <td>
		      <td></td>
		</tr>
	</table>
	
	<table id="current_flight_status" style="width: 300px; height: 100px" border="1px">
		<tr>
			<th valign="top" colspan="4">
				<p>Current Flight Status</p>
			</th>
		</tr>
		<tr>
			<td style="width: 50%" valign="top">
				<div id="ground _speed">Ground Speed:</div>
			</td>
			<td>
			  <td>
		      <td></td>
		</tr>
		<tr>
			<td style="width: 50%" valign="top">
				<div id="air_speed">Air Speed:</div>
			</td>
			<td>
			  <td>
		      <td></td>
		</tr>
		<tr>
			<td style="width: 50%" valign="top">
				<div id="heading">Heading:</div>
			</td>
			<td>
			  <td>
		      <td></td>
		</tr>
	</table>
	
	<table id="fuel_burn_status" style="width: 300px; height: 100px" border="1px">
		<tr>
			<th valign="top" colspan="2">
				<p>Fuel Burn Status</p>
			</th>
		</tr>
		<tr>
			<td style="width: 50%" valign="top" align="center" colspan="2">
				<div id="gauge" style="width: 150px; height: 150px;"></div>	
			</td>
		</tr>
		<tr>
			<td>
				<div id="fuel_rate">Rate:</div>
			</td>
            <td>	
			</td>
		</tr>
		<tr>
			<td>
				<div id="fuel_total">Total:</div>
			</td>
            <td>	
			</td>
		</tr>
		<tr>
			<td>
				<div id="fuel_weight">Weight:</div>
			</td>
            <td>	
			</td>
		</tr>
	</table>
	
	<table id="air_temp" style="width: 300px; height: 100px" border="1px">
		<tr>
			<th valign="top">
				<p>Air Temperature</p>
			</th>
		</tr>
		<tr>
			<td style="width: 50%" valign="top" align="center">
				<div id="temp_chart" style="width: 275px; height: 200px;"></div>	
			</td>
		</tr>
	</table>
	
	<table id="wind_magnitude" style="width: 300px; height: 100px" border="1px">
		<tr>
			<th valign="top">
				<p>Wind Magnitude</p>
			</th>
		</tr>
		<tr>
			<td style="width: 50%" valign="top" align="center">
				<div id="wind_mag" style="width: 275px; height: 200px;"></div>	
			</td>
		</tr>
	</table>
	
  </td>
  <td style="width: 67%" valign="top">
    <div id="earth" style="border: 1px solid #000; height: 500px;"></div>
    <div id="status"></div>
    <div id="extra-ui"> 
      <input type="button" onclick="playTour()" value="Play Tour"/> 
      <input type="button" onclick="pauseTour()" value="Pause Tour"/> 
      <input type="button" onclick="resetTour()" value="Stop/Reset Tour"/> 
      <div id="slider-container"></div>
    </div>
  </td>
  <td style="width: 33%" valign="top">
    <div id="map" style="border: 1px solid #000; height: 500px;"></div>
  </td>
</tr>
</table>
</td>
</tr>
</table>

</body>